{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Pheng Khai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Pheng Khai- Portfolio and Blog" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/animations.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fonts/linear-icons-font/style.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fonts/fontawesome-free-5.12.1-web/css/all.min.css'%}" type="text/css">


    <script src="{% static 'js/modernizr.custom.js'%}"></script>
  </head>

  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">

          <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">
              <div class="header-photo">
                <img src="{% static 'img/main_photo.jpg'%}" alt="Alex Smith">
              </div>
              <div class="header-titles">
                <h2>Pheng Khai</h2>
                <h4>Computer Science Student</h4>
              </div>
            </div>

            <ul class="main-menu">
              <li class="active">
                <a href="/#home" class="nav-anim">
                  <span class="menu-icon lnr lnr-home"></span>
                  <span class="link-text">Home</span>
                </a>
              </li>
              <li>
                <a href="/#about-me" class="nav-anim">
                  <span class="menu-icon lnr lnr-user"></span>
                  <span class="link-text">About Me</span>
                </a>
              </li>
              <li>
                <a href="/#resume" class="nav-anim">
                  <span class="menu-icon lnr lnr-graduation-hat"></span>
                  <span class="link-text">Resume</span>
                </a>
              </li>
              <li>
                <a href="/#portfolio" class="nav-anim">
                  <span class="menu-icon lnr lnr-briefcase"></span>
                  <span class="link-text">Portfolio</span>
                </a>
              </li>
              <li>
                <a href="/#blog" class="nav-anim">
                  <span class="menu-icon lnr lnr-book"></span>
                  <span class="link-text">Blog</span>
                </a>
              </li>
              <li>
                <a href="/#contact" class="nav-anim">
                  <span class="menu-icon lnr lnr-envelope"></span>
                  <span class="link-text">Contact</span>
                </a>
              </li>
            </ul>

            <div class="social-links">
              <ul>
                <li><a href="https://www.linkedin.com/in/pheng-khai-tan-0ab0b362/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://github.com/phengkhai" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/phengkhai/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>

            <div class="header-buttons">
              <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
            </div>

            <div class="copyrights">© 2020 All rights reserved.</div>
          </header>

          <!-- Mobile Navigation -->
          <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- End Mobile Navigation -->

          <!-- Arrows Nav -->
          <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
          </div>
          <!-- End Arrows Nav -->
          {% block unique %}
          <div class="content-area">
            <div class="animated-sections">
              <!-- Home Subpage -->
              <section data-id="home" class="animated-section start-page">
                <div class="section-content vcentered">

                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                          <h2>Pheng Khai</h2>
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <div class="sp-subtitle">Year 3 Computer Science</div>
                            </div>
                            
                            <div class="item">
                              <div class="sp-subtitle">Ready to work</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </section>
              <!-- End of Home Subpage -->

              <!-- About Me Subpage -->
              <section data-id="about-me" class="animated-section">
                <div class="page-title">
                  <h2>About <span>Me</span></h2>
                </div>

                <div class="section-content">
                  <!-- Personal Information -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-7">
                      <p>An creative <b>problem solver</b> and passionate <b>learner</b> with <b>exceptional logical and analytical skills</b> possesses various <b>in-demand skills</b> as a computer science engineer.Experience in <b>designing, developing, implementing and testing computer-based software</b>.</p>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="info-list">
                        <ul>

                          <li>
                            <span class="title">Age</span>
                            <span class="value">21</span>
                          </li>

                          <li>
                            <span class="title">Residence</span>
                            <span class="value">Singapore</span>
                          </li>

                          <li>
                            <span class="title">Course</span>
                            <span class="value">NTU Computer Science with Business</span>
                          </li>

                          <li>
                            <span class="title">e-mail</span>
                            <span class="value"><a href="" class="__cf_email__" data-cfemail="85e0e8e4ece9c5e0fde4e8f5e9e0abe6eae8">[email&#160;protected]</a></span>
                          </li>

                          <li>
                            <span class="title">Phone</span>
                            <span class="value">+0123 123 456 789</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- End of Personal Information -->

                  <div class="white-space-50"></div>

                  <!-- Services -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>What <span>I Do</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-keyboard"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Software Engineering</h4>
                              <p>Developed some apps in my free time using various programming languages, mainly <b>Java</b></b></p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-smartphone"></i>
                            </div><div class="ci-text">
                              <h4>Web App Development</h4>
                              <p>Participated in numerous web app development projects using <b>Django</b> and <b>ReactJS</b> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-laptop-phone"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Web Scraping</h4>
                              <p>Developed web scraper as a hobby powered by <b>Selenium</b></p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-flag"></i>
                            </div><div class="ci-text">
                              <h4>Artificial Intelligence</h4>
                              <p>Interested and sometimes developed apps backed up by AI using <b>TensorFlow</b></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Services -->

                  <div class="white-space-30"></div>
<!--
                  <!-- Testimonials 
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Testimonials</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="testimonials owl-carousel">
                        <!-- Testimonial 1 
                        <div class="testimonial">
                          <div class="img">
                            <img src="img/testimonials/testimonial-1.jpg" alt="Alex Smith">
                          </div>
                          <div class="text">
                            <p>Vivamus at molestie dui, eu ornare orci. Curabitur vel egestas dolor. Nulla condimentum nunc sit amet urna tempus finibus. Duis mollis leo id ligula pellentesque, at vehicula dui ultrices.</p>
                          </div>

                          <div class="author-info">
                            <h4 class="author">Julia Hickman</h4>
                            <h5 class="company">Omni Source</h5>
                            <div class="icon">
                              <i class="fas fa-quote-right"></i>
                            </div>
                          </div>
                        </div>
                        <!-- End of Testimonial 1 

                        <!-- Testimonial 2 
                        <div class="testimonial">
                          <div class="img">
                            <img src="img/testimonials/testimonial-2.jpg" alt="Alex Smith">
                          </div>
                          <div class="text">
                            <p>Vivamus at molestie dui, eu ornare orci. Curabitur vel egestas dolor. Nulla condimentum nunc sit amet urna tempus finibus. Duis mollis leo id ligula pellentesque, at vehicula dui ultrices.</p>
                          </div>

                          <div class="author-info">
                            <h4 class="author">Robert Watkins</h4>
                            <h5 class="company">Endicott Shoes</h5>
                            <div class="icon">
                              <i class="fas fa-quote-right"></i>
                            </div>
                          </div>
                        </div>
                        <!-- End of Testimonial 2 

                        <!-- Testimonial 3 
                        <div class="testimonial">
                          <div class="img">
                            <img src="img/testimonials/testimonial-3.jpg" alt="Alex Smith">
                          </div>
                          <div class="text">
                            <p>Vivamus at molestie dui, eu ornare orci. Curabitur vel egestas dolor. Nulla condimentum nunc sit amet urna tempus finibus. Duis mollis leo id ligula pellentesque, at vehicula dui ultrices.</p>
                          </div>

                          <div class="author-info">
                            <h4 class="author">Kristin Carroll</h4>
                            <h5 class="company">Helping Hand</h5>
                            <div class="icon">
                              <i class="fas fa-quote-right"></i>
                            </div>
                          </div>
                        </div>
                        <!-- End of Testimonial 3 
                      </div>
                    </div>
                  </div>
                  <!-- End of Testimonials 

                  <div class="white-space-50"></div>

                  <!-- Clients 
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Cilents</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="clients owl-carousel">
                        
                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-1.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-2.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-3.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-4.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-5.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-6.png" alt="Logo">
                          </a>
                        </div>

                        <div class="client-block">
                          <a href="#" target="_blank" title="Logo">
                            <img src="img/clients/client-7.png" alt="Logo">
                          </a>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <!-- End of Clients 

                  <div class="white-space-50"></div>

                  <!-- Pricing 
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Pricing</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                      <div class="fw-pricing clearfix row">
                        
                        <div class="fw-package-wrap col-md-6 ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Silver</span>
                            </div>
                            
                            <div class="fw-pricing-row">
                              <span>$64</span>
                              <small>per month</small>
                            </div>
                            
                            <div class="fw-button-row">
                              <a href="#" target="_self" class="btn btn-secondary">Free Trial</a>
                            </div>

                            <div class="fw-default-row">Lorem ipsum dolor</div>
                            <div class="fw-default-row">Pellentesque scelerisque</div>
                            <div class="fw-default-row">Morbi eu sagittis</div>
                          </div>
                        </div>
     
                        <div class="fw-package-wrap col-md-6 highlight-col ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Gold</span>
                            </div>
                            
                            <div class="fw-pricing-row">
                              <span>$128</span>
                              <small>per month</small>
                            </div>

                            <div class="fw-button-row">
                              <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                            </div>
                            
                            <div class="fw-default-row">Lorem ipsum dolor</div>
                            <div class="fw-default-row">Pellentesque scelerisque</div>
                            <div class="fw-default-row">Morbi eu sagittis</div>
                            <div class="fw-default-row">Donec non diam</div>
                            <div class="fw-default-row"></div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- End of Pricing 

                  <div class="white-space-50"></div>
-->
                  <!-- Fun Facts -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Fun <span>Facts</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-heart"></i>
                        <h4>StackOverFlow</h4>
                        <span class="fun-fact-block-value">149</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-clock"></i>
                        <h4>Years of Experience</h4>
                        <span class="fun-fact-block-value">7</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 ">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-star"></i>
                        <h4>Projects Completed</h4>
                        <span class="fun-fact-block-value">30</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>
                  </div>
                  <!-- End of Fun Facts -->

                </div>
              </section>
              <!-- End of About Me Subpage -->

              <!-- Resume Subpage -->
              <section data-id="resume" class="animated-section">
                <div class="page-title">
                  <h2>Resume</h2>
                </div>

                <div class="section-content">

                  <div class="row">
                    <div class="col-xs-12 col-sm-7">

                      <div class="block-title">
                        <h3>Education</h3>
                      </div>
                      
                      <div class="timeline timeline-second-style clearfix">
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2020-present</h5>
                            <span class="item-company">Nanyang Technological University</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Bachelor of Engineering</h4>
                            <p>Degree in Computer Science with a Second Major in Business under the ASEAN Scholarship</p>
                          </div>
                        </div>

                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2018-2019</h5>
                            <span class="item-company">Anderson Junior College</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Science Stream(PCME)</h4>
                            <p>Studied under ASEAN scholarship and Graduated with 4 Distinction in all 4 content subjects</p>
                          </div>
                        </div>
                      </div>

                      <div class="white-space-50"></div>

                      <div class="block-title">
                        <h3>Experience</h3>
                      </div>

                      <div class="timeline timeline-second-style clearfix">
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2013 - 2015</h5>
                            <span class="item-company">JoomGame</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title"></h4>
                            <p>Single-handedly developed a gaming website that features over 100 different html5 and flash games. Ran and maintained the website for over 2 years.</p>
                          </div>
                        </div>
<!--
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2013 - 2016</h5>
                            <span class="item-company">Adobe</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Senior Ui/Ux Designer</h4>
                            <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                          </div>
                        </div>
                        
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2011 - 2013</h5>
                            <span class="item-company">Google</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Junior Ui/Ux Designer</h4>
                            <p>Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue vitae nunc ac, sodales ultricies diam. Nullam justo leo, tincidunt sit amet.</p>
                          </div>
                        </div>
                      -->
                      </div>

                    </div>

                    <!-- Skills & Certificates -->
                    <div class="col-xs-12 col-sm-5">
                      <!-- Design Skills -->
                      <div class="block-title">
                        <h3>Business <span>Skills</span></h3>
                      </div>

                      <div class="skills-info skills-second-style">
                        <!-- Skill 1 -->
                        <div class="skill clearfix">
                          <h4>Financial Management</h4>
                          <div class="skill-value">95%</div>
                        </div>
                        <div class="skill-container skill-1">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 1 -->
                        
                        <!-- Skill 2 -->
                        <div class="skill clearfix">
                          <h4>Financial Accounting</h4>
                          <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-2">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 2 -->
                        
                        <!-- Skill 3 -->
                        <div class="skill clearfix">
                          <h4>Marketing</h4>
                          <div class="skill-value">80%</div>
                        </div>
                        <div class="skill-container skill-3">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 3 -->
                        
                        <!-- Skill 4 -->
                        <div class="skill clearfix">
                          <h4>Human Skills</h4>
                          <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-4">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 4 -->

                      </div>
                      <!-- End of Design Skills -->

                      <div class="white-space-10"></div>

                      <!-- Coding Skills -->
                      <div class="block-title">
                        <h3>Coding <span>Skills</span></h3>
                      </div>

                      <div class="skills-info skills-second-style">
                        <!-- Skill 5 -->
                        <div class="skill clearfix">
                          <h4>Java</h4>
                          <div class="skill-value">95%</div>
                        </div>
                        <div class="skill-container skill-5">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 5 -->

                        <!-- Skill 6 -->
                        <div class="skill clearfix">
                          <h4>Python/Django</h4>
                          <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-6">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 6 -->
                        
                        <!-- Skill 7 -->
                        <div class="skill clearfix">
                          <h4>HTML/CSS/React</h4>
                          <div class="skill-value">100%</div>
                        </div>
                        <div class="skill-container skill-7">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 7 -->
                        
                        <!-- Skill 8 -->
                        <div class="skill clearfix">
                          <h4>Selenium</h4>
                          <div class="skill-value">75%</div>
                        </div>
                        <div class="skill-container skill-8">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 8 -->

                        <!-- Skill 9 -->
                        <div class="skill clearfix">
                          <h4>HTTP</h4>
                          <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-9">
                          <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 9 -->
                      </div>
                      <!-- End of Coding Skills -->

                      <div class="white-space-10"></div>

                      <!-- Knowledges -->
                      <div class="block-title">
                        <h3>Knowledges</h3>
                      </div>

                      <ul class="knowledges">
                        <li>Marketing</li>
                        <li>Leadership</li>
                        <li>Trilingual</li>
                        <li>Adaptability</li>
                        <li>Time Management</li>
                        <li>Communication</li>
                        <li>Problem-Solving</li>
                        <li>Creativity</li>
                        <li>Flexibility</li>
                      </ul>
                      <!-- End of Knowledges -->
                    </div>
                    <!-- End of Skills & Certificates -->
                  </div>

                  <div class="white-space-50"></div>
<!---->
                  <!-- Certificates --
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Certificates</h3>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <!-- Certificate 1 --
                    <div class="col-xs-12 col-sm-6">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="img/clients/client-1.png" alt="logo">
                        </div>
                        
                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                          </div>
                          <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                          </div>
                          <div class="certi-date">
                            <span>19 April 2018</span>
                          </div>
                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Certificate 1 --

                    <!-- Certificate 2 --
                    <div class="col-xs-12 col-sm-6">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="img/clients/client-1.png" alt="logo">
                        </div>
                        
                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                          </div>
                          <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                          </div>
                          <div class="certi-date">
                            <span>19 April 2018</span>
                          </div>
                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Certificate 2 --

                  </div>
                  <!-- End of Certificates -->
                </div>
              </section>
              <!-- End of Resume Subpage -->

              <!-- Portfolio Subpage -->
              <section data-id="portfolio" class="animated-section">
                <div class="page-title">
                  <h2>Portfolio</h2>
                </div>

                <div class="section-content">

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <!-- Portfolio Content -->
                      <div class="portfolio-content">
                        <ul class="portfolio-filters">
                          <li class="active">
                            <a class="filter btn btn-sm btn-link" data-group="all">All</a>
                          </li>
                        {% for category in categories%}
                          <li class="active">
                            <a class="filter btn btn-sm btn-link" data-group="{{category.slug}}">{{category.name}}</a>
                          </li>
                        {%empty%}
                        <p></p>
                        {%endfor%}
                        </ul>
                        <!-- Portfolio Grid -->
                        <div class="portfolio-grid three-columns">
                          {% for project in projects%}
                          <figure class="item lbaudio" data-groups='["category_all", "{{project.category.slug}}"]'>
                            <div class="portfolio-item-img">
                              <img src={{project.image}} alt="{{project.title}}" title="" />
                              <a href={{project.link}} class="lightbox mfp-iframe" title="SoundCloud Audio"></a>
                            </div>
                            <i class="fa fa-volume-up"></i>
                            <h4 class="name">{{project.title}}</h4>
                            <span class="category">{{project.category}}</span>
                          </figure>
                          {%empty%}
                          <figure class="item lbaudio"><p>Sorry! Come back later!</p></figure>
                          {%endfor%}                       
                        </div>
                      </div>
                      <!-- End of Portfolio Content -->
                    </div>
                  </div>
                </div>
              </section>
              <!-- End of Portfolio Subpage -->

              <!-- Blog Subpage -->
              <section data-id="blog" class="animated-section">
                <div class="page-title">
                  <h2>Blog</h2>
                </div>

                <div class="section-content">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="blog-masonry two-columns clearfix">
                      {% for post in posts %}
                      <!--
                        <li>
                          <span class="title">{{post.title}}</span>
                          <span class="value">{{post.author}}</span>
                        </li>
                      -->
                        <div class="item post-1">
                          <div class="blog-card">
                            <div class="media-block">
                              <div class="category">
                                <a href="#" title="View all posts in Design">Design</a>
                              </div>
                              <a href={{post.get_absolute_url}}>
                                <img src={{post.post_Main_Img}} class="size-blog-masonry-image-two-c" alt={{post.title}} title="" />
                                <div class="mask"></div>
                              </a>
                            </div>
                            <div class="post-info">
                              <div class="post-date">{{post.updated_on}}</div>
                              <a href={{post.get_absolute_url}}>
                                <h4 class="blog-item-title">{{post.title}}</h4>
                              </a>
                            </div>
                          </div>
                        </div>
                      {%empty%} 
                      <div class="col-xs-12 col-sm-12">
                        <div class="blog-masonry two-columns clearfix">
                          <h4>Looks like its still empty. Maybe check out my <a href="#resume">resume</a></h4>
                        </div>
                      </div>
                      {%endfor%}
                      
                      </div>
                    </div>
                  </div>
                </div>


              </section>
              <!-- End of Blog Subpage -->

              <!-- Contact Subpage -->
              <section data-id="contact" class="animated-section">
                <div class="page-title">
                  <h2>Contact</h2>
                </div>

                <div class="section-content">

                  <div class="row">
                    <!-- Contact Info -->
                    <div class="col-xs-12 col-sm-4">
                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-map-marker"></i>
                        <h4>Singapore</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-phone-handset"></i>
                        <h4>@phengkhai on telegram</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-envelope"></i>
                        <h4><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1879747d60587d60797568747d367b7775">[email&#160;protected]</a></h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-checkmark-circle"></i>
                        <h4>Ready for Work!</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>


                    </div>
                    <!-- End of Contact Info -->

                    <!-- Contact Form -->
                    <div class="col-xs-12 col-sm-8">
                      <div id="map" class="map">
                          <div class="lmpixels-map">
                            	<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Saraca%20Hall&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                            </div>
                      </div>
                      <div class="block-title">
                        <h3>Interested in Hiring? <span>Contact me!</span></h3>
                      </div>

                      <form id="contact_form" class="contact-form" action="/company_name/" method="post">
                      {% csrf_token %}
                        
                        <div class="messages"></div>

                        <div class="controls two-columns">
                          <div class="fields clearfix">
                            <div class="left-column">                              
                              <div class="form-group form-group-with-icon">
                                {{form.organization_name|attr:"class:form-control"}}
                                <label>Organization Name</label>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                              </div>

                              <div class="form-group form-group-with-icon">
                                <!--<input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">-->
                                {{form.email|attr:"id:form_email"|attr:"class:form-control"}}
                                <label>Email Address</label>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                              </div>

                              <div class="form-group form-group-with-icon">
                                <!--<input id="form_subject" type="text" name="subject" class="form-control" placeholder="" required="required" data-error="Subject is required.">-->
                                {{form.position_name|attr:"class:form-control"}}
                                <label>Position</label>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="right-column">
                              <div class="form-group form-group-with-icon">
                                <!--<textarea id="form_message" name="message" class="form-control" placeholder="" rows="7" required="required" data-error="Please, leave me a message."></textarea>-->
                                {{form.message|remove_attr:"cols"|remove_attr:"rows"|attr:"id:form_message"|attr:"class:form-control"}}
                                <label>Message</label>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          
                          </div>

                          <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI" data-theme="dark"></div>
      
                          <input type="submit" class="button btn-send" value="Send message">
                        </div>
                      </form>
                    </div>
                    <!-- End of Contact Form -->
                  </div>

                </div>
              </section>
              <!-- End of Contact Subpage -->
            </div>
          </div>
          {% endblock unique%}

      </div>
    </div>

    <script data-cfasync="false" src="{% static 'js/email-decode.min.js'%}"></script><script src="{% static 'js/jquery-2.1.3.min.js'%}"></script>
    <script src="{% static 'js/modernizr.custom.js'%}"></script>
    <script src="{% static 'js/animating.js'%}"></script>

    <script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'https://www.google.com/recaptcha/api.js'%}"></script>

    <script src="{% static 'js/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js'%}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>

    <script src="{% static 'js/validator.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"710b3bddc9579e32","version":"2021.12.0","r":1,"token":"94b99c0576dc45bf9d669fb5e9256829","si":100}' crossorigin="anonymous"></script>
</body>
</html>
